.summary {
  margin: var(--size-8) 0;

  text-align: justify;
  h2 {
    font-size: var(--size-16);
    color: var(--color-grey-800);
  }
}

@media (max-width: 768px) {
  .summary {
    h2 {
      font-size: var(--size-8);
    }
  }
}
