.footer {
  border: {
    top: solid 1px #ccc;
  }
  text-align: center;
  height: 4.375rem;
  vertical-align: middle;

  a {
    color: inherit;

    &:active,
    &:visited {
      color: inherit;
    }

    margin: 0.1rem;
  }

  div {
    line-height: 0;
  }

  p {
    font-size: var(--size-4);
  }
}

@media screen and (width <= 768) {
  .footer {
    p {
      font-size: var(--size-3);
    }
  }
}
