.menu {
  --hovered-burger-color: color-mix(
    in srgb,
    var(--color-primary-900) 97%,
    white
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  li {
    margin: 0;
    height: 100%;
  }

  a {
    color: var(--color-grey-100);
    font-size: var(--size-5);
    display: flex;
    padding: var(--size-4);
    align-items: center;
    width: 100%;
    height: 100%;
  }

  a:hover,
  a:active,
  a.active {
    background: var(--hovered-burger-color);
  }

  .burger_wrapper {
    display: none;
    height: 100%;
    padding: 0 2rem;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus,
    &:focus-visible,
    &:hover,
    &.open {
      background: var(--hovered-burger-color);
      // background: var(--color-primary-800);
      cursor: pointer;
    }

    .burger {
      margin: 0 auto;
      flex-direction: column;
      height: 2rem;
      justify-content: space-around;
      padding: 0;
      z-index: 10;

      &:focus {
        outline: none;
      }

      div {
        width: 2rem;
        height: 0.25rem;
        background: #effffa;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;

        &:first-child {
          transform: rotate(0);
        }

        &:nth-child(2) {
          opacity: 1;
          transform: translateY(0);
        }

        &:last-child {
          transform: rotate(0);
        }
      }
    }

    &.open {
      .burger {
        div {
          &:first-child {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
            transform: translateY(20px);
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    ul {
      display: none;
      gap: 0rem;
      position: absolute;
      top: 100%;
      right: 0%;
      height: fit-content;
      flex-direction: column;

      li {
        background: var(--color-primary-900);
        a {
          text-align: center;
          justify-content: center;
          font-size: var(--size-4);
          padding: 1rem 2rem;
        }
      }
    }

    .burger_wrapper {
      display: block;
      .burger {
        display: flex;
      }
      &.open {
        & ~ ul {
          display: flex;
        }
      }
    }
  }
}
