.header {
  width: 100%;
  height: var(--navbar-size);
  background-color: var(--color-primary-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--default-spacing);
  position: sticky;
}
