.header {
  background-color: var(--color-primary-900);
  height: var(--navbar-size);
  position: fixed;
  width: 100vw;
  .headerContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    .headerContainer {
      padding: 0;
    }
    a {
      padding: 0 2rem;
    }
  }
}
