.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: {
    bottom: 1rem;
  }
  width: 100%;

  .button {
    background: none;
    border: {
      top: none;
      left: none;
      right: none;
      bottom: 1px solid var(--mui-palette-divider);
    }

    &.active {
      border: {
        top: 1px solid var(--mui-palette-divider);
        bottom: none;
        left: 1px solid var(--mui-palette-divider);
        right: 1px solid var(--mui-palette-divider);
      }
    }
  }

  div {
    border-bottom: 1px solid var(--mui-palette-divider);
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.form {
  padding: 1rem;
  .textarea {
    width: 100%;
    field-sizing: content;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    min-height: 10rem;
  }
}
